openapi: 3.0.1
info:
  title: Airtable CRM insert data API
  description: Inserts the keys and their response in the Airtable CRM using the API
  version: "1.0.0"

servers:
  - url: https://api.airtable.com/v0 # Base URL for the API

# Paths for the API endpoints
paths:
  /appbwBF8gPYPqLNcE/Table%201:
    post:
    #   parameters:
    #       - in: query
    #         name: fields
    #         schema:
    #           type: string
    #           default: "places.name,places.formatted_address,places.price_level"
      summary: Insert keys and answers in the table
      operationId: insertKeysAnswers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: array
                  items:
                    type: object
                    properties:
                      fields:
                        type: object
                        properties:
                        # type: object
                        # properties:
                          ContractName:
                            type: string
                            description: Name of the contract that is uploaded.
                          ServiceProviderName:
                            type: string
                            description: Name of the service provider of the contract.
                          CustomerName:
                            type: string
                            description: Name of the customer of the contract.
                          Contractstartdate:
                            type: string
                            description: Start date of the contract.
                          Contractenddate:
                            type: string
                            description: Start date of the contract.
                          
                    
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                    result:
                      type: string
                      description: The response from the API after sending POST request.
                
                # $ref: "#/components/schemas/placeResponse"
                
components:
  schemas:
    placesNames:
      type: object
      properties:
        name:
          type: string
          description: Name of the place.
        formattedAddress:
          type: string
          description: Formatted address of the place.
        priceLevel:
          type: string
          description: Price level of the place (e.g., PRICE_LEVEL_EXPENSIVE).
    placeResponse:
      type: object
      properties:
        places:
          type: array
          items:
            $ref: "#/components/schemas/placesNames"
