openapi: 3.0.1
info:
  title: Airtable CRM insert data API
  description: Inserts the keys and their response in the Airtable CRM using the API
  version: "1.0.0"

servers:
  - url: https://api.airtable.com/v0 # Base URL for the API

# Paths for the API endpoints
paths:
  /appbwBF8gPYPqLNcE/Table%201:
    post:
    #   parameters:
    #       - in: query
    #         name: fields
    #         schema:
    #           type: string
    #           default: "places.name,places.formatted_address,places.price_level"
      summary: Insert keys and answers in the table
      operationId: insertKeysAnswers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  type: array
                  items:
                    type: object
                    properties:
                      fields:
                        type: object
                        properties:
                        # type: object
                        # properties:
                          ContractName:
                            type: string
                            description: Name of the contract that is uploaded.
                          ServiceProviderName:
                            type: string
                            description: Name of the service provider of the contract.
                          CustomerName:
                            type: string
                            description: Name of the customer of the contract.
                          Contractstartdate:
                            type: string
                            description: Start date of the contract.
                          Contractenddate:
                            type: string
                            description: Start date of the contract.
                          # TermPeriodInMonths:
                          #   type: string
                          #   description: Total term period or duration of this contract.
                          # DealValue:
                          #   type: string
                          #   description: Deal value of the contract
                          # GoverningLaw:
                          #   type: string
                          #   description: Governing law mentioned in the contract.
                          # AutoRenewal:
                          #   type: string
                          #   description: Mentions whether the contract auto renews or not.
                          # TerminationNoticeInDays:
                          #   type: string
                          #   description: Termination notice for the contract in days.
                          # DataBreachNoticeInHours:
                          #   type: string
                          #   description: Data Breach notice of the contract in hours.
                          # Billingfrequency:
                          #   type: string
                          #   description: Period of billing as monthly or anually or quaterly.
                          # RenewalPeriod:
                          #   type: string
                          #   description: Renewal period of the contract in months.
                          # Noticeofterminationforconvenience:
                          #   type: string
                          #   description: The notice of termination for convenience in the contract.
                          # Netpaymentterms:
                          #   type: string
                          #   description: Termination notice for the contract in days.
                          # TerminationforBreach:
                          #   type: string
                          #   description: Does the contract terminate on breach.
                          # Terminationforcause:
                          #   type: string
                          #   description: The termination for cause of the contract.
                          # Terminationwithoutcause:
                          #   type: string
                          #   description: termination of contract without cause.
                          # Terminationforconvenience:
                          #   type: string
                          #   description: Termination of convenience for the contract.
                          # LatePaymentCharges:
                          #   type: string
                          #   description: Does the contract terminate on breach.
                          # LatePaymentPenalty:
                          #   type: string
                          #   description: the late payment charges of the document.
                          # Limitationsofliability:
                          #   type: string
                          #   description: the limitation of liability for the contract.
                          # Assignment:
                          #   type: string
                          #   description: The assignment of the contract.
                          # Nameandlogouse:
                          #   type: string
                          #   description: The name and logo use of the contract.
                          # DeletionofData:
                          #   type: string
                          #   description: The deletion of data clause of the contract.
                          # CustomerIndemnity:
                          #   type: string
                          #   description: The customer indemnity of the contract.
                          # ServiceProviderindemnity:
                          #   type: string
                          #   description: The service provider indemnity clause of the contract.
                          # Customernoticeforindemnityclaim:
                          #   type: string
                          #   description: The customer notice for indemnity claim of the contract.
                          # IndemnifyAttorneyfees:
                          #   type: string
                          #   description: The indemnification of attorney fees of the contract.
                          # Priceincrease:
                          #   type: string
                          #   description: The price increase of the contract.
                          # Noticeforpriceincrease:
                          #   type: string
                          #   description: The price increase clause of the contract.
                          # InsuranceClause:
                          #   type: string
                          #   description: The insurance clause of the contract.
                          # MaintenanceofInsurance:
                          #   type: string
                          #   description: The maintenance of the insurance clause of the contract.
                          # Providenoticeforinsurance:
                          #   type: string
                          #   description: The notice of insurance clause of the contract.
                          # ServiceProviderIntellectualPropertyRights:
                          #   type: string
                          #   description: The service provide intellectual property rights clause of the contract.
                          # CustomerIntellectualpropertyrights:
                          #   type: string
                          #   description: The customer intellectual property rights clause of the contract.
                    
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                    result:
                      type: string
                      description: The response from the API after sending POST request.
                
                # $ref: "#/components/schemas/placeResponse"
                
components:
  schemas:
    placesNames:
      type: object
      properties:
        name:
          type: string
          description: Name of the place.
        formattedAddress:
          type: string
          description: Formatted address of the place.
        priceLevel:
          type: string
          description: Price level of the place (e.g., PRICE_LEVEL_EXPENSIVE).
    placeResponse:
      type: object
      properties:
        places:
          type: array
          items:
            $ref: "#/components/schemas/placesNames"
